body{
    background-color: bisque;
}
/* .links{
    word-spacing: 20px;
    background-color:black;
    overflow: hidden;
    padding: 15px;
    font-family: inherit;
    color: #fff;
    
} */
.w3-bar-item w3-button{
    color: azure;
}
.ul{

}
